body {
    background-color: #6495ed;
    color: #fff;
}

.vertical-center .row {
    min-height: 100vh;
}

.sequence-output {
    background-color: #2E446E;
    border-radius: 7px;
    color: #BCED4C;
    font-family: monospace;
    font-size: 1.2rem;
    height: 30vh;
    word-wrap: break-word;
}