* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Cabin', sans-serif;
    color: #3B341F;
}
.container {
    background-color: #A5CBC3;
    box-shadow: 0 0 15px #777777;
    height: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 375px;
}
.sequence-output {
    background-color: #100B00;
    color: #85CB33;
    font-family: monospace;
    font-size: 1rem;;
    height: 200px;
    margin: 0 auto;
    overflow: scroll;
    width: 325px;
    word-wrap: break-word;
}
.title {
    padding: 20px;
    text-align: center;
}
.paragraph {
    padding: 15px;
    text-align: center;
}
.start-button {
    background-color: #EFFFC8;
    border: none;
    color: #3B341F;
    padding: 10px 30px;
    position: relative;
    left: 135px;
    margin: 10px auto;
    text-transform: uppercase;
}
.start-button:hover {
    background-color: #d0e0a2;
}
.start-button:active {
    background-color: #808a69;
    color: #EFFFC8;
}
